<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="zona-usuario-logueado">
        <div class="usuario text-right">
            <span class="text-bienvenida">Bienvenido <b>{{nombreUsuario}}</b></span>
        </div>
    </div>
</header>

<ng-container *ngIf="expression">
<div class="container">
  <div class="col-md-10 offset-1">
    <div class="card">
      <div class="card-header">
        <div class="text-center">
          <h4>Ingresar documentos SIG</h4>
        </div>
      </div>
      <div class="card-body">
        <form action="" [formGroup]="formDocumento" (ngSubmit)="onSubmit()">
          <div class="row">
          <div class="col-md-6 form-group">
            <label for="Tipo de documento">Tipo de documento</label>
            <select name="" id="" class="form-control" formControlName="tipoDocumento">
              <option value="Políticas">Políticas</option>
              <option value="Manules">Manuales</option>
              <option value="Procedimientos">Procedimientos</option>
              <option value="Instructivos">Instructivos</option>
              <option value="Reglamentos">Reglamentos</option>
              <option value="Planes">Planes</option>
              <option value="Formatos">Formatos</option>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="Código del documento">Código del documento</label>
            <input type="text" class="form-control" formControlName="codigoDocumento">
          </div>
        </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="Área">Área</label>
              <input type="text" class="form-control" formControlName="area">
            </div>
            <div class="col-md-4 form-group">
              <label for="Versión">Versión</label>
              <input type="text" class="form-control" formControlName="version">
            </div>
            <div class="col-md-4 form-group">
              <label for="Vigente">Vigente</label>
              <select name="" id="" class="form-control" formControlName="vigente">
                <option value="Sí">Sí</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="Cargar archivo">Cargar archivo</label>
              <input type="file" class="form-control" (change)="adjuntarDocumento($event)">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-4">
              <button type="submit" class="btn btn-success btn-lg">Guardar</button>
              <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</ng-container>
<div class="contenedor">
<div class="container">
  <div class="col-md-12">
    
    <div class="card">
      <div class="card-header">
          <div class="text-center" id="titulo">
              <h3>Documentos SIG</h3>
            </div>
      </div>
      <div class="card-body">
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar documento">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tipoDocumento">
              <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Codígo documento </th>
              <td mat-cell *matCellDef="let element"> {{element.codigoDocumento}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> Área </th>
              <td mat-cell *matCellDef="let element"> {{element.area}} </td>
            </ng-container>

            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Version </th>
                <td mat-cell *matCellDef="let element"> {{element.version}}</td>
              </ng-container>

            <ng-container matColumnDef="vigente">
              <th mat-header-cell *matHeaderCellDef> Vigente </th>
              <td mat-cell *matCellDef="let element"> {{element.vigente}} </td>
            </ng-container>

            <ng-container matColumnDef="verArchivo">
                <th mat-header-cell *matHeaderCellDef> Ver archivo </th>
                <td mat-cell *matCellDef="let element"><a href="{{'https://aribasas.sharepoint.com' + element.rutaArchivo}}" target="_blank"><button type="button" class="btn btn-primary">Ver</button></a></td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<router-outlet></router-outlet>