<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-10 offset-1">
    <div class="card">
      <div class="card-header">
        <div class="text-center">
          <h4>Ingresar documentos SIG</h4>
        </div>
      </div>
      <div class="card-body">
        <form action="" [formGroup]="formDocumento">
          <div class="row">
          <div class="col-md-6 form-group">
            <label for="Tipo de documento">Tipo de documento</label>
            <select name="" id="" class="form-control" formControlName="tipoDocumento">
              <option value="Políticas">Políticas</option>
              <option value="Manules">Manuales</option>
              <option value="Procedimientos">Procedimientos</option>
              <option value="Instructivos">Instructivos</option>
              <option value="Reglamentos">Reglamentos</option>
              <option value="Planes">Planes</option>
              <option value="Formatos">Formatos</option>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="Código del documento">Código del documento</label>
            <input type="text" class="form-control" formControlName="codigoDocumento">
          </div>
        </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="Área">Área</label>
              <input type="text" class="form-control" formControlName="area">
            </div>
            <div class="col-md-4 form-group">
              <label for="Versión">Versión</label>
              <input type="text" class="form-control" formControlName="version">
            </div>
            <div class="col-md-4 form-group">
              <label for="Vigente">Vigente</label>
              <select name="" id="" class="form-control" formControlName="vigente">
                <option value="Sí">Sí</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="Cargar archivo">Cargar archivo</label>
              <input type="file" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>